<h1 class="font-bold font-sans break-normal text-lima-900 pt-6 pb-2 text-3xl md:text-4xl">Saisonkalender</h1>
<h2 class="py-2 font-sans text-lima-900">Was ist ein Saisonkalender ?</h2>
<p class="py-6 text-lima-900">
    Der Saisonkalender zeigt transparent auf welche natürlichen Lebensmittel (Gemüse, Kräuter, Obst, Salat) im aktuellen Monat im Land Deutschland angeboten werden können.
    Dies sorgt für eine einfache Übersicht welche regionalen Lebensmittel man aktuell kaufen kann.
</p>

<h2 class="py-2 font-sans text-lima-900">Was sind die Quellen der hier dargestellten Informationen ?</h2>
<ul class="py-6 text-lima-900">
    <li><a class="underline" href="https://www.bzfe.de/">Bundeszentrum für Ernährung</a></li>
    <li><a class="underline" href="https://eatsmarter.de/">EAT SMARTER</a></li>
</ul>
